/* public/styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f3f3;
    padding: 0px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
}

.app {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: blue;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

.card {
    background-color: #ffcccc;
    padding: 30px;
    border-radius: 10px;
    margin: 30px 0;
}

.welcome-text {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.description {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

.btn {
    background-color: #ff5b5b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.btn:hover {
    background-color: #d32f2f;
}

.links {
    margin-top: 30px;
}

.links a {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.links a:hover {
    text-decoration: underline;
}
